body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(270deg,#667eea,#764ba2);
  background-size: 400% 400%;
  animation: bg 8s infinite;
  color: white;
  text-align: center;
}

@keyframes bg {
  0%{background-position:0%}
  50%{background-position:100%}
  100%{background-position:0%}
}

#startScreen {
  margin-top: 150px;
}

.quiz-box {
  margin-top: 50px;
}

.option {
  background: white;
  color: black;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  transform: scale(1.1);
}

.correct { background: green; color: white; }
.wrong { background: red; color: white; }

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: orange;
  color: white;
  cursor: pointer;
}
